* { font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 12px; }
html {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  height: 100vh;  
}
body {
  margin: 0;
  background-color: rgb(82, 86, 89);
}
#portada {  height: 100vh; }
#portada img {
  max-height: 100%;
  max-width: 100%;
}
.player {
  background:#4ccaea;
  cursor:pointer;
  opacity: 0.7;
  position: absolute;  
  width: 50px;
  height: 50px; 
  border-radius: 100%;
  top: 8px;
  left: 8px;
}
.player span {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 20px solid #fff;
  border-bottom: 15px solid transparent;
  position:absolute;
  top:20%;
  left:36%;    
}
.player:hover{
  opacity: 1;
}
.UTV_Logo {
  position: absolute;
  top: 11px;
  left: 8px;
  cursor: pointer;
}
h2 {
  font-family: 'Parisienne', serif;
  line-height: 60px;
  font-size: 22px;
  margin: 0;
  padding: 0 50px;
  color: #ffffff;
}
.yaSabemos { background-color: #3282b8; }
.debemosSaber { background-color: forestgreen; }
.nuestrosExpertos { background-color: orange; }
.container {
  height: calc(100vh - 60px);
  background-color: #ffffff;
}
.container img { width: 100%; }
.subTitle {
  color: #ffffff;
  font-family: 'Parisienne', serif;
  text-align: center;
  font-size: 22px;
}
.currentSlide {
  background-color: rgb(82, 86, 89);
  text-align: center;
  position: relative;
}
.dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.numbertext {
  color: #000000;
  font-size: 12px;
  position: absolute;
  top: 6px;
  right: 3px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 0 50%;
  height: 24px;
  width: 32px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
}
.sections {
  display: grid;
  grid-auto-flow: column;
}
.sections div { 
  height: 18px;
  cursor: pointer;
  border-top: 5px solid #ffffff;
}
.sections div.active, .sections div:hover {
  border-top: 5px solid #cccccc;
}
.sections .yaSabemos { background-color: #3282b8; }
.sections .debemosSaber { background-color: forestgreen; }
.sections .nuestrosExpertos { background-color: orange; }
.text {
  padding: 16px;
  text-align: justify;
}